services:
  fastapi-app:
    build: .
    container_name: fastapi_app_web
    ports:
      - "8080:80"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@localhost:5438/postgres
    depends_on:
      - db
  db:
    image: postgres:16
    container_name: fastapi_app_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5438:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
